<section data-ng-controller="ImagesController" data-ng-init="getAll()">
    <ul id="errorslist">
      <li data-ng-repeat="error in errors">{{error}}</li>
    </ul>

  <div data-image-form-directive
    data-button-text="Submit New Image"
    data-form-name="newImageForm"
    data-heading-text="Submit a New Image"
    data-image="newImage"
    data-save="create(image)"
    >
  </div>

    <div data-list-directive data-title="images">
      <li data-ng-repeat="image in images">
        <div class="imagedata" data-image-directive data-image="image"></div>
        <div data-image-form-directive
        data-button-text="Save Image"
        data-img-url="{{image.url}}">
        <img src="{{image.url}}" />
        </div>
      </li>
    </ul>
  </section>
